<div class="col-lg-12">
<h1>役の判定</h1>
<div>
  <p class="lead">テキストボックスに手札を入力してください。</p>
</div>
<div class="panel-group" id="howto" role="tablist">
  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#howto" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> 使い方
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p>1文字で表されるスート(S、H、D、C)と1から13の数字の組をカードとします。</p>
        <dl>
          <dt>例:</dt>
          <dd>S1 ... スペードのエース</dd>
          <dd>H3 ... ハートの3</dd>
          <dd>D9 ... ダイアの9</dd>
          <dd>C13 ... クラブの13</dd>
        </dl>
        <p>手札は半角スペース区切りで5枚のカードを入力してください</p>
        <dl>
          <dt>例:</dt>
          <dd>H1 D10 S11 H12 H13</dd>
        </dl>
        <p>スートは小文字でも構いません</p>
      </div>
    </div>
  </div>
</div>
<div class="row" id="card-form">
  <div class="form-group">
    <input type="text" id="card" name="card"
           class="form-control input-lg" placeholder="S1 D2 H3 C4 S5" maxlength="19"
           pattern="^[SHDCshdc]{1}([1-9]{1}|1[0-3]{1}) [SHDCshdc]{1}([1-9]{1}|1[0-3]{1}) [SHDCshdc]{1}([1-9]{1}|1[0-3]{1}) [SHDCshdc]{1}([1-9]{1}|1[0-3]{1}) [SHDCshdc]{1}([1-9]{1}|1[0-3]{1})$">
  </div>
  <div id="hand" class="alert"></div>
</div>
<div class="row">

</div>
</div>
